@import '../../assets/styles/app.scss';

.parallel {
    transform: skewX(-8deg);
    padding: 25px;
    height: fit-content;
    width: fit-content;

    &__title {
        @include Text ($raleway, 20px, bold, normal, $white);
        margin: 0 0 20px 0;
    }

    &__text {
        @include Text ($raleway, 20px, normal, 1.5, $white);
        width: 300px;
        margin: 0 0 0 15px;
    }

    &__title, &__text {
        transform: skewX(8deg);
    }
}

.parallel-about {
    background-color: $purpleish;
    margin-left: auto;
}

.parallel-single {
    background-color: $strong-blue;
    margin: 8px auto 0 auto;
    width: 70%;
}

@include Mobile {
    .parallel-single {
        margin: 50px 0 30px 20px;
        width: 73%;

        .parallel__text {
            margin: 0;
        }
    }

    .parallel-about {
        margin: 0 0 0 20px;
        width: 72%;

        .parallel__text {
            width: auto;
        }
    }
}
