@import '../../assets/styles/app.scss';

.home {
    height: 100vh;
    width: 100%;
    background: url('../../assets/images/backgrounds/bc-home.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    &__lines {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url('../../assets/images/backgrounds/lines-home.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 1840px;
        background-position-y: 439px;
    }
    
    

    &-title {
        &__text {
            @include Text ($raleway, 100px, 900, normal, normal, normal, $white);
            text-transform: uppercase;
            margin: 0 0 0 35%;
        }

        &__dot {
            margin: auto 0 20px 0;
        }
    }

    &-name, &-role {
        &__text {
            @include Text ($raleway, 50px, 900, normal, normal, normal, $white);
            margin: 10px 0 10px 35%;
        }
    }

    &-title, &-name, &-role {
        display: flex;
    }
}