@mixin Text($fontFamily, $fontSize, $fontWeight, $lineHeight, $color, $textAlign: false) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: $lineHeight;
    color: $color;
    @if $textAlign != false {
        text-align: $textAlign;
    }
}

@mixin Size($height: false, $width: false) {

    @if $height != false {
        height: $height;
    }

    @if $width != false {
        width: $width;
    }
}