@import '../../assets/styles/app.scss';

.project {
    border: 1px solid $dark;
    position: relative;
    padding: 0 35px;
    overflow: hidden;

    &:hover {
        .project-cover, .project-cover-color {
            display: block;
        }
    }

    &-container {
        display: flex;
    }

    &__number {
        @include Text ($raleway, 100px, 900, normal, $dark);
        margin: 80px 0 70px 0;
    }

    &__image {
        @include Size (auto, 100%);
    }

    &__title {
        @include Text ($raleway, 22px, 900, 1.45, $dark);
        margin: 50px 0 40px 0;
    }

    &__skills {
        @include Text ($raleway, 16px, normal, 1.88, $dark);
    }

    &__title, &__skills {
        width: 90%;
    }

    &-cover {
        display: none;
        z-index: 10;
        position: absolute;
        top: 170px;
        left: 0;
        @include Size (100%, 100%);
        overflow: hidden;
        transform: skewY(11deg);
        cursor: url('../../assets/icons/cursor.png');
        animation: display-cover 0.5s;

        &-color {
            display: none;
            z-index: 15;
            position: absolute;
            top: 0;
            left: 0;
            @include Size (100%, 100%);
            overflow: hidden;

            &--first {
                background-color: rgba(50, 1, 255, 0.8);
            } 
            
            &--second {
                background-color: rgba(132, 36, 255, 0.8);
            }
            
            &--third {
                background-color: rgba(59, 54, 82, 0.8)
            }
            
            &--fourth {
                background-color: rgba(87, 45, 255, 0.8);
            }
        }

        &__image {
            z-index: 5;
            @include Size (100%, 100%);
            transform: skewY(-11deg);
            object-fit: cover;
            margin-top: -35px;
        }
    }
}

@include Tablet {
    .project {
        display: flex;
        padding: 0;
        height: calc(100vh - 75vh);
        text-decoration: none;

        &--column {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
        }

        &-container {
            flex-direction: column;
            height: 100vh;
        }

        &__image {
            width: 37%;
            object-fit: cover;
        }

        &__number {
            margin: 20px 0;
            font-size: 42px;
        }

        &__title {
            font-size: 24px;
            margin: 0 0 20px 0;
        }

        &__link {
            text-decoration: none;
        }
    }
}

@keyframes display-cover {
    from {top: 100%;}
    to {top: 170px;}
}