@import '../../assets/styles/app.scss';

.project {
    border: 1px solid $dark;
    position: relative;
    padding: 0 35px;
    overflow: hidden;

    &:hover {
        .project-cover__image {
            display: block;
        }
    }

    &-container {
        display: flex;
    }

    &__number {
        @include Text ($raleway, 100px, 900, normal, $dark);
        margin: 80px 0 70px 0;
    }

    &__image {
        @include Size (auto, 100%);
    }

    &__title {
        @include Text ($raleway, 22px, 900, 1.45, normal, $dark);
        margin: 50px 0 40px 0;
    }

    &__skills {
        @include Text ($raleway, 16px, normal, 1.88, normal, $dark);
    }

    &__title, &__skills {
        width: 90%;
    }

    &-cover {
        z-index: 10;
        position: absolute;
        top: 0;
        @include Size (100%, 100%);
        overflow: hidden;
        cursor: url(../../assets/icons/cursor.png), auto;

        &--first {
            background-color: rgba(50, 1, 255, 0.8);
        } 
        
        &--second {
            background-color: rgba(132, 36, 255, 0.8);
        }
        
        &--third {
            background-color: rgba(59, 54, 82, 0.8)
        }
        
        &--fourth {
            background-color: rgba(87, 45, 255, 0.8);
        }

        &__image {
            display: none;
            z-index: 5;
            position: absolute;
            left: 0;
            bottom: -40px;
            overflow: hidden;
            @include Size (88%, 100%);
            transform: skewY(11deg);

            &--first, &--second, &--third, &--fourth {
                background: url('../../assets/images/placeholder.png') no-repeat;
                background-position: center;
                background-size: 1440px;

            }
        }
    }
}

@include Tablet {
    .project {
        display: flex;
        padding: 0;
        height: 25%;

        &--column {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
        }

        &-container {
            flex-direction: column;
            height: 100vh;
        }

        &__image {
            width: 37%;
            object-fit: cover;
        }

        &__number {
            margin: 20px 0;
            font-size: 42px;
        }

        &__title {
            font-size: 24px;
            margin: 0 0 20px 0;
        }
    }
}