@import '../../assets/styles/app.scss';

.sidebar {
    background-color: $white;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80px;
    transition: 1s;
    position: sticky;
    top: 0;
    left: 0;

    &-icons {
        display: flex;
        flex-direction: column;
    }

    &--expand {
        width: 100px;
    }

    &--full {
        width: 400px;
    }

    ////////////////////////////// Containers

    &-top, &-mid, &-bot {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: calc(100% / 3);
        width: 500px;
    }

    &-mid {
        position: relative;
    }

    &-wrapper {
        flex-direction: column;
        margin-left: 25px;

        &--left {
            margin-left: 90px;
        }
    }

    &-items{ 
        display: none;
        padding-left: 70px;
        position: absolute;
        top: -120px;
        text-decoration: none;
        
        &-container {
            display: flex;
            flex-direction: column;

            & > a {
                text-decoration: none;
            }
        }

        &__text {
            @include Text ($raleway, 48px, 800, normal, $dark);
            margin: 15px 0 15px 20px;
            text-transform: uppercase;
            transition: color .5s;

            &--white {
                color: $white;
            }
        }

        &--display {
            display: block;
        }

        &-home, &-project, &-about {
            display: flex;
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }

        &-home {
            width: 190px;
        }

        &-project {
            width: 285px;
        }

        &-about {
            width: 205px;
        }

        &__stripe {
            width: 15px;
            height: 36px;
            transform: skew(-10deg);
            transition: 1s;
            background: black;
            margin: 25px 0 auto 0;
            position: absolute;
            z-index: -10;

            &--blue {
                background-color: $strong-blue;
            }

            &--purple {
                background-color: $electric-purple;
            }

            &--dark {
                background-color: $dark;
            }
        }

        
    }

    ////////////////////////////// Elements

    &__text {
        @include Text ($raleway, 12px, bold, normal, $dark);
        transform: rotate(-90deg);
        margin: 0;
        display: none;

        &--display {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    ////////////////////////////// Icons

    &-icons {
        &__github {
            margin-bottom: 30px;
        }
    
        &__github, &__linkedin {
            @include Size(28px, 28px);
            background-repeat: no-repeat;
            block-size: 28px;
            margin-left: 27px;

            &:hover {
                cursor: pointer;
            }
        }

        &__logo {
            @include Size(30px, 40px);
            margin-bottom: 30px;
            background: url('../../assets/icons/logo.svg');
            background-repeat: no-repeat;
            margin-left: 20px;
        }

        &--left {
            margin-left: 72px;
            transition: 1s;
        }

        &--more {
            margin-left: 79px;
            transition: 1s;
        }
    }

    &__menu {
        @include Size(24px, 38px);
        background: url('../../assets/icons/menu.svg');
        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }

        &--hide {
            display: none;
        }
    }

    &__button {
        @include Size(27px, 27px);
        display: none;
        background: url('../../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-size: 23px;
        position: absolute;
        right: 115px;
        
        &--display {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.menu {
    display: flex;
}

.item-hovered {
    width: 100%;
    transition: 1s;
}