@import '../../assets/styles/app.scss';

.sidebar {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85px;
    transition: 1s;
    position: sticky;
    top: 0;
    left: 0;

    &-icons {
        display: flex;
        flex-direction: column;

        &--regular {
            margin-left: 5px;
        }
    }

    &--expand {
        width: 100px;
    }

    &--full {
        width: 500px;
    }

    ////////////////////////////// Containers

    &-top, &-mid, &-bot {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: calc(100% / 3);
        width: auto;
        padding-left: 20px;
    }

    &-mid {
        position: relative;
    }

    &-wrapper {
        flex-direction: column;
        margin-left: 25px;

        &--left {
            margin-left: 90px;
        }
    }

    &-items{ 
        display: none;
        position: absolute;
        top: -120px;
        text-decoration: none;
        margin-left: 15px;
        
        &-container {
            display: flex;
            flex-direction: column;

            & > a {
                text-decoration: none;
            }
        }

        &__text {
            @include Text ($raleway, 44px, 800, normal, $dark);
            margin: 15px 0 15px 20px;
            text-transform: uppercase;
            transition: color .5s;

            &--white {
                color: $white;
            }
        }

        &--display {
            display: block;
        }

        &-home, &-project, &-about {
            display: flex;
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }

        &-home {
            width: 190px;
        }

        &-project {
            width: 285px;
        }

        &-about {
            width: 205px;
        }

        &__stripe {
            width: 15px;
            height: 33px;
            transform: skew(-10deg);
            transition: 1s;
            background: black;
            margin: 24px 0 auto 0;
            position: absolute;
            z-index: -10;

            &--blue {
                background-color: $strong-blue;
            }

            &--purple {
                background-color: $electric-purple;
            }

            &--dark {
                background-color: $dark;
            }
        }

        
    }

    ////////////////////////////// Elements

    &__text {
        @include Text ($raleway, 12px, bold, normal, $dark);
        transform: rotate(-90deg);
        margin: 0;
        display: none;

        &--display {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    ////////////////////////////// Icons

    &-icons {
        transition: 1s;

        &__github {
            margin-bottom: 30px;
        }
    
        &__github, &__linkedin {
            @include Size(28px, 28px);
            background-repeat: no-repeat;

            &:hover {
                cursor: pointer;
            }
        }

        &--left {
            margin-left: 35px;
            transition: 1s;
        }
    }

    &__logo {
        @include Size(30px, 40px);
        margin-bottom: 30px;
    }

    &__menu {
        @include Size(24px, 38px);
        background: url('../../assets/icons/menu.svg');
        background-repeat: no-repeat;

        &:hover {
            cursor: pointer;
        }

        &--hide {
            display: none;
        }
    }

    &__button {
        @include Size(27px, 27px);
        display: none;
        background: url('../../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-size: 23px;
        position: absolute;
        right: 7px;
        
        &--display {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.menu {
    display: flex;
}

.item-hovered {
    width: 100%;
    transition: 1s;
}

@include Mobile {
    .sidebar {

        &-mobile-col, &__menu {
            position: fixed;
            bottom: -2px;
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 99;

            &--hide {
                display: none;
            }
        }

        &__menu {
            @include Size(19px, 30px);
            bottom: 9px;
            transform: rotate(90deg);
            background: unset;
        }

        &-mobile {
            @include Size (100vh, 100%);
            background: url('../../assets/images/m-menu-bc.svg');
            background-repeat: no-repeat;
            position: fixed;
            z-index: 99;
            background-size: cover;
            animation: display-menu-full 1s;

            &--hide {
                display: none;
            }
        }

        &__button {
            @include Size(22px, 22px);
            background: unset;
            right: 0;
            left: 0;
            top: 12px;
            margin: 0 auto;
        }

        &__logo {
            margin: 20px 0 0 22px;

            &--hide {
                display: none;
            }
        }

        &-items {
            position: unset;
            padding-left: 30px;
            margin-top: 150px;

            &__stripe {
                z-index: 0;
            }
        }

        &-icons {
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            bottom: 35px;

            &-display {
                display: block;

                &--hide {
                    display: none;
                }
            }
        
            &__github, &__linkedin {
                margin: 0 27px  0 0;
    
                &:hover {
                    cursor: pointer;
                }
            }

            &--hide {
                display: none;
            }
        }
    }
}

@keyframes display-menu-full {
    from {top: 100%;}
    to {top: 0;}
}