// Normalize
@import './vendor/normalize.css';

.container {
    height: 100%;
    width: 100%;
    background-color: purple;
}

@import './variables/colors.scss';
@import './variables/typography.scss';