@import '../../assets/styles/app.scss';

.single {
    padding: 0 180px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__background {
        @include Text ($raleway, 800px, bold, normal, $light-grey);
        margin: 0;
        position: absolute;
        left: 0;
        top: -40px;
        z-index: -2;
        height: 100%;
    }

    &__circle {
        @include Center;
        @include Size (42px, 42px);
        border: 2px solid $dark;
        border-radius: 50px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__close {
        @include Size (17px, 17px);
    }

    &__title {
        @include Text ($raleway, 50px, 800, 1.28, $dark);
        margin: 40px 0 0 0;

        &--small {
            margin: auto 0;
        }

        &--normal {
            margin: 0;
        }

        &--small, &--normal {
            @include Text ($raleway, 32px, 800, 1.5, $dark);
        }
    }

    &-content {
        display: flex;
        margin-top: 70px;

        &-column {
            margin: auto auto auto 0;
            width: 47.5%;
        }

        &--bottom {
            margin-bottom: 70px;
        }
    }

    &-info {

        &__text {
            @include Text ($raleway, 20px, 1.6, normal, $dark, justify);
            font-style: italic;
            margin: 50px 0 0 0;
            width: 90%;

            &--none {
                margin: 0 0 0 auto;
                width: 40%;
            }

            &--center {
                margin: auto 0 auto auto;
                width: 40%;
            }

            &--topless {
                margin-top: 20px;
            }
        }  
    }

    &-link {
        display: flex;
        margin: 5% 0 2% 0;

        &__icon {
            @include Size (24px, 24px);
        }

        &__text {
            @include Text ($raleway, 18px, 1.67, normal, $dark);
            margin: auto 0 0 10px;
            text-decoration: underline;
        }
    }

    &__image {
        @include Size (600px, 100%);
        margin-top: 70px;

        &--small {
            @include Size (400px, 460px);
            margin: 0;
        }
    }

    &__arrow {
        @include Size (27px, 27px);
        margin: 0 0 70px auto;
    }

    &-empty {
        @include Size (100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text {
            @include Text ($raleway, 50px, bold, normal, $dark);
            margin: 0;
        }

        &__link {
            @include Text ($raleway, 30px, bold, normal, $dark);
            text-decoration: none;
            margin-top: 30px;
        }
    }
}